* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0efeb;
  color: #333;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 112px;
  height: auto;
}

.logo h1 {
  font-size: 32px;
  margin-left: 10px;
  color: #5e3577;
  font-weight: 500;
  font-style: italic;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #f0efeb;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #f0efeb;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #f0efeb;
  background-color: #573c76;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #573c76;
  text-align: left;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #946ab4;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    margin: 5px 15px;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    width: 80%;
    margin-bottom: 10px;
  }
}
